* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    background-color: yellowgreen;
}
nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav a img {
    height: 50px;
}
.menu {
    float: right;
}
.menu ul {
    display: flex;
    margin-top: 8px;
}
.menu ul li {
    padding: 10px;
}
.menu ul li a {
    color: rgb(10, 8, 9);
}
/* -------------------------------------------------*/
.intro {
    background-image: url("img/hihi.jpg");
    height: 600px;
}
.title {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 204px;
}
.title h2 {
    color: white;
    margin-bottom: 30px;
}
.title p {
    color: white;
    margin-bottom: 15px;
}
.title ul {
    display: flex;
}
.title ul li {

    padding: 10px 15px;
    border: 2px solid white;
    margin-right: 15px;
}
.title ul li a {
    color: white;
}
.div2_main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.div2_main h2 {
    border-left: 7px solid #9e9e9e;
    padding-left: 7px;
    margin: 30px 0;
}
.compine2 {
    display: flex;
}
.div2-1 {
    width: 60%;
}
.div2-1 p {
    margin-bottom: 15px;
}
.div2-1 ul li {
    display:inline-table;
} 
.div2-1 ul li a img {
    height: 50px;
}
.div2-2 img {
    height: 49px;
}
.div2-2-content {
    display: flex;
    margin-bottom: 30px;
}
.div2-2-content-text {
    margin-left: 20px;
}
.div2-2-content-text h3 {
    margin-bottom:  10px;
}
/* -------------------------------------------------*/
.member {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.member h2 {
    border-left: 7px solid #9e9e9e;
    padding-left: 7px;
    margin: 30px 0;
}
.member-all {
    display: flex;
}
.member-all-one {
    margin-right: 30px;
    width: 100%;
    background-color: #9e9e9e ;
}